# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build and output directories
dist/
build/

# Temporary files
tmp/
temp/
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.idea/
.vscode/
*.swp

# Optional npm install settings
package-lock.json
yarn.lock

# Coverage reports
coverage/

# WebSocket related files (if generated)
socket-log/
